
</div>
    <script src="<%=helper.base_url()%>assets/js/jquery.js"></script>
    <script src="<%=helper.base_url()%>assets/js/bootstrap.js"></script>
    <script src="<%=helper.base_url()%>assets/js/jquery.slimscroll.js"></script>
    <script src="<%=helper.base_url()%>assets/js/plugins.js"></script>
</body>
</html>